<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{url_for('js', scr='UI.js')}}"></script>
    <script src="{{url_for('js', scr='acc.js')}}"></script>
</head>
<body>
    <nav>
        <h1>
            {{title}}
        </h1>
        <form action="/sl" method="post">
            <select name="language" id="language">
                <option value="en" {% if language == 'en' %}selected{% endif %}>English</option>
                <option value="es" {% if language == 'es' %}selected{% endif %}>Español</option>
                <option value="fr" {% if language == 'fr' %}selected{% endif %}>Français</option>
                <option value="de" {% if language == 'de' %}selected{% endif %}>Deutsch</option>
            </select>
            <button type="submit">Set Language</button>
            
        </form>
        <script>
            createUI_User({
                text : "{{username}}"
            })
        </script>
        <h3 class="account"

            style="z-index: 2;"
            id="personaluser"
            onclick="on_click()"
        >
            {{flu}}
        </h3>
    </nav>
    <div class="middle">
        <nav>
            <h2>
            {% if language == 'en' %}
                Viewing {{file}}
            {% elif language == 'es' %}
                Editar {{file}}
            {% elif language == 'de' %}
                {{file}} bearbeiten
            {% elif language == 'fr' %}
                Visionage de {{file}}
            {% else %}
                Viewing {{file}}
            {% endif %}
            </h2>
            
            
        </nav>

        <br>

    </div>
    <div class="middle" style="background-color: rgb(41, 41, 41); height: 9svh; justify-content: start; align-items: start;">
        <nav style="align-self:flex-start; background-color: #0000;">
                <button type="submit" style="margin:0%;" 
                id="downloadbuttn"
                
                ><img src="static/download.png" alt="download"> Download</button>
                <button type="submit" onclick="window.location.href='{{path}}'"> Close file </button>
                <script>
                    var download_button = document.getElementById('downloadbuttn')
                    download_button.onclick = function() {
                        window.location.href = `/download/?path="{{file}}"`
                    }
                </script>
        </nav>
    </div>
            
    <div style="width: 99%; height: 50%;">
        {% if isvideo == true %}
            <video id="vid" src='/download/?path="{{file}}"' style="width: 50svw; height:50svh">
                
            </video>
            <div>
                    <div style="max-height: 30px;">
                        <button id="playpause" type="submit" style="background-color: #9995;"><img src="static/pausenew.png" alt="Play/Pause"></button>
                    <p id="playbacktime"></p>
                    </div>

                    <script>
                        var play_pause_button = document.getElementById('playpause')
                        var duration = NaN
                        var duration_string = "00:00"
                        let playbacktimer = document.getElementById('playbacktime')
                        var info_label = null
                        function convert_to_string(params) {
                            let calculator = params.a
                            let calculated_time = ""
                            calculated_time = String(Math.floor(calculator / 60)).padStart(2, '0') + ":" + String(Math.floor(calculator % 60)).padStart(2, '0')
                            return calculated_time
                        }
                        
                        function onendedVid() {
                                vid.currentTime = 0;
                                vid.style.filter = "blur(5px)"
                                var info_label = document.createElement("h3")
                                info_label.innerText = "You finished viewing this video."
                                info_label.style.color = 'white'
                                
                        }

                        vid.addEventListener("loadedmetadata", () => {
                                console.log('loaded metadata: ', vid.duration)
                                duration = vid.duration
                                duration_string = convert_to_string({a:duration})
                                console.log(duration_string)
                            })
                        play_pause_button.onclick = function() {
                            var vid = document.getElementById('vid')
                            var lio = document.createElement("video")
                            

                            vid.onplay = function() {
                                console.log('played!')
                                vid.style.filter = "blur(0px)"
                            }
                            

                            vid.onended = function() {
                                console.log('ended.');
                                onendedVid()
                            }
                            
                            if (duration != "NaN") {
                                if (!vid.paused) {
                                    vid.pause()
                                } else {
                                    vid.play()
                                }
                            }
                            
                            vid.addEventListener("timeupdate", (e) => {
                                console.log(convert_to_string({a: vid.currentTime}) + " / " + duration_string)
                                playbacktimer.innerText = convert_to_string({a: vid.currentTime}) + '/'  + duration_string
                                if (vid.currentTime == duration) {
                                    console.log('done!')
                                    onendedVid()
                                }
                            })
                        }
                    </script>
                </div>
        {% else %}
            <img src='/download/?path="{{file}}"' alt="Loading image">
        {% endif %}
    </div>
</body>
</html>